body{
	background-color:#f5e19e;
  font: 25px monospace;
  font-weight: 750;

}

#cypher-Img{
  background-color: coral;
  position: static;
  margin-bottom: -45%;
  margin-left: 50px;
  height: 320px;
  width: 410px;
}

#UI{
		background-color:coral;
	
    margin: auto;
    border-radius:10px;
    color: gold;
    width: 770px;			
}

#ceasar-Header{
  color:#00ffe5;
	margin-left: 100px;
  margin-top:3px;
}

.Prompt{
	margin-left: 50px;	
}

#input-El{
	border-radius: 10px;
	height: 30px;
  width:600px;
	font-size: 15px;
  font-weight: 530;
}

#cypher-Shift{	
	border-radius: 10px;
	padding-left: 10px;
  height: 20px;
  font-weight: 530;
}

#encrypt-Btn{
	background-color:#79c4c0;
	color:brown;
	font-weight: bold;
	font: 20px monospace;
	border: none;
	border-radius: 10px;
	padding: 13px;
	margin-top: 5px;
	margin-left:40%;
	margin-bottom:0px;;
}

#output-El{
  margin-left: 50px;
  color: gold;
}

#footer-p{
  text-align: center;
  margin: auto 20%;
}
