body{
	background-color:#FFD54F;
}
.UI{
  margin-top: 100px;
}
#cypher-Img{
  background-color: coral;
  position: static;
  margin-bottom: -49%;
  margin-left: 240px;
  height: 340px;
  opacity: 100%;
   
}
#UI{
		background-color:coral;
		font: 25px monospace;
		font-weight: bold;
    margin-top: 300px;
    margin-left: 200px;
    color:#00ffe5;
    width: 770px;
			
}

#ceasar-Header{
  color:gold;
	margin-left: 100px;
	
}

.Prompt{
	margin-left: 50px;	
}

#input-El{
	border-radius: 10px;
	height: 40px;
  width:600px;
	font-size: 15px;
}

#cypher-Shift{
	
	border-radius: 10px;
	padding-left: 10px;
}

#encrypt-Btn{
	background-color:#79c4c0;
	color:brown;
	font-weight: bold;
	font: 20px monospace;
	border: none;
	border-radius: 10px;
	padding: 13px;
	margin-top: 5px;
	margin-left: 260px;
	margin-bottom:0px;;
}

#output-El{
	margin-left: 100px;
  color:#00ffe5;
}